.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1400px;
  grid-template-areas:
    'h h h'
    'n c c';
  grid-template-rows: 10px 1fr;
  grid-template-columns: 200px 10fr;
  grid-gap: 10px;
}

.allContent {
  background-color: #141414;
  font-family: Roboto, sans-serif;
  height: 1400px;
}

.app-wrapper-content {
  grid-area: c;
}
