.dialogs {
  background-color: #222222;
  padding: 30px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItem {
  color: #c0d3e1;
  margin-bottom: 10px;
}

.dialog:hover {
  background-color: #424242;
  width: 50%;
  height: 10%;
  border-radius: 5px;
}
.dialog a {
  font-size: 20px;
  color: #c0d3e1;
  text-decoration: none;
}
.dialog:hover a {
  color: #4f1980;
}

.dialog {
  margin: 10px;
}
.messages {
  color: #c0d3e1;
}

.message {
  margin: 10px;
}
